extends ../layouts/index.pug
block content
	.container-fluid
		.row-fluid
			.centering
				.col-md-10
					img(src='../img/lotus.png').img-responsive
				.col-md-10
					h1.display-3 #{title}
				.col-md-10
					p.lead Built for administrative purposes to manage the sponsors, students and donations of our registered 501(c)(3) nonprofit organization.
